<article class="article{{ if .colonnes }} article__incolumns{{ end }}">
    <h1 class="article__title">{{ .page.Title | markdownify }}</h1>
    <div class="article__content">{{ .page.Content }}</div>
    {{ if .page.Params.action }}
    <div class="article__action">
        <a href="{{ .page.Params.action.url }}" class="button button__prefix">{{ .page.Params.action.label }}</a>
    </div>
    {{ end }}
</article>