{{ define "main" }}
{{ $module := .Params.module.load }}

{{ if .Title }}
<article class="article">
    {{ if .Params.Thumbnail }}
    <img class="article__thumbnail" src="{{ .Params.Thumbnail }}" alt="{{ .Title }}">
    {{ else }}
    <h1 class="article__title module__title">{{ .Title }}</h1>
    {{ end }}

    {{ if .Content }}
    <div class="article__content">{{ .Content }}</div>
    {{ end }}
</article>
{{ end }}

{{ range where .Site.RegularPages "Params.module.group" $module }}
{{ partial (printf "modules/%s.html" $module) (dict "page" . "colonnes" $.Params.colonnes) }}
{{ end }}
{{ end }}