<div class="container">
    <!-- sponsor range list -->
    <div class="sponsor">
        <div class="sponsor__list">
            {{ $sponsor := .Site.Data.sponsor }}
            {{ range sort $sponsor.list "place" }}
                {{ if .hide }}{{ continue }}{{ end }}
                <a href="{{ .url }}" title="{{ .alt }}"
                    target="_blank" rel="noopener noreferrer" class="sponsor__item" 
                    style=" width: {{ $sponsor.global.size }}px;
                    height: {{ $sponsor.global.size }}px;
                    background-size: auto {{ $sponsor.global.size }}px;
                    background-image: url({{ $sponsor.global.image }}); 
                    background-position: -{{ sub (mul .position $sponsor.global.size) $sponsor.global.size }}px 0px; ">
                    {{ .alt }}
                </a>
            {{ end }}
        </div>
    </div>

    <p class="footer__legal">
        Exposition 100% Villette makerz -
        <a class="link" href="/about/mentions_legales">Mentions-légales</a>
    </p>
</div>