<div class="container">
    <div class="header__title">
        <h1 class="header__title__text">
            <a href="{{ .Site.BaseURL }}" class="header__title__link">
                {{ .Site.Title }}
            </a>
        </h1>
    </div>

    <input type="checkbox" id="menu-toggle" class="menu__toggle__input" />
    <nav class="header__menu">
        <label for="menu-toggle" class="menu__toggle button" title="Ouvrir/Fermer le menu" tabindex="0">
            <span class="menu__toggle__active">×</span>
            <span class="menu__toggle__inactive">+</span>
        </label>
        <ul class="menu__list">
            <li class="menu__list__item">
                <a href="/" class="menu__list__link button">Accueil</a>
            </li>
            {{ range .Site.Menus.main }}
            <li class="menu__list__item">
                <a href="{{ .URL }}" class="menu__list__link button">{{ .Name }}</a>
            </li>
            {{ end }}
        </ul>
    </nav>
</div>