<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<meta http-equiv="x-ua-compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=yes,viewport-fit=cover" />

<title>{{ if .IsHome }}{{ .Site.Title }}{{ else }}{{ .Title }} | {{ .Site.Title }}{{ end }}</title>
<meta property="og:title" content="{{ if .IsHome }}{{ .Site.Title }}{{ else }}{{ .Title }} | {{ .Site.Title }}{{ end }}" />

{{ if .Site.Params.locale -}}
<meta property="og:locale" content="{{ .Site.Params.locale }}" />
{{ end }}

{{- if .Site.Params.color -}}
<meta name="theme-color" content="{{ .Site.Params.color }}" />
{{ end }}

{{- if .IsPage -}}
<meta name="description" content="{{ if .Params.Description }}{{ .Params.Description }}{{ else }}{{ .Site.Params.description }}{{ end }}" />
<meta property="og:description" content="{{ if .Params.Description }}{{ .Params.Description }}{{ else }}{{ .Site.Params.description }}{{ end }}" />
{{ else -}}
<meta name="description" content="{{ .Site.Params.description }}" />
<meta property="og:description" content="{{ .Site.Params.description }}" />
{{ end -}}

{{- if .Params.credit.nom }}
<meta property="article:author" content="{{ .Params.credit.nom }}" />
{{ end -}}

<meta property="og:type" content="website" />
<meta property="og:site_name" content="{{ .Site.Title }}" />

<link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 110 110%22><text y=%22.9em%22 font-size=%2290%22>{{ .Site.Params.icon }}</text></svg>">

<link rel="canonical" href="{{ .Permalink }}" />
<meta property="og:url" content="{{ .Permalink }}" />

{{ with .OutputFormats.Get "RSS" -}}
<link href="{{ .RelPermalink }}" rel="alternate" type="application/rss+xml" title="{{$.Site.Title}}" />
{{ end -}}

{{ if hugo.IsExtended }}
    {{ partial "libscss" "main" }}
{{ else }}
    <link rel="stylesheet" href="{{ relURL "css/main.css" }}">
{{ end }}