{{ define "main" }}
<article class="article">
    {{ if .Title }}
    <h1 class="article__title module__title">{{ .Title }}</h1>
    {{ end }}

    {{ if .Content }}
    <div class="article__content">{{ .Content }}</div>
    {{ end }}

    <div class="exposition__list">
        {{ range .Pages }}
        <figure class="exposition__item">
            <img src="{{ .Params.miniature }}" alt="ilustration de l'exposition {{ .Title }}" class="exposition__image">
            <figcaption class="exposition__datas" tabindex="0">
                <div class="exposition__info">
                    <h2 class="exposition__info__title">{{ .Title }}</h2>
                </div>
                <div class="exposition__more">
                    <div class="exposition__more__descrition">
                        <h3>{{ if .Params.exposition.nom }}{{ .Params.exposition.nom }}{{ else }}{{ .Title }}{{ end }}</h3>
                        {{ if .Params.exposition.projet }}
                        <span>{{ .Params.exposition.projet }}</span>{{ end }}
                    </div>
                    <a href="{{ .Permalink }}" class="exposition__more__link button button__prefix">Découvrir ...</a>
                </div>
            </figcaption>
        </figure>
        {{ end }}
    </div>
</article>
{{ end }}