<!DOCTYPE html>
<html lang='{{ .Site.Params.lang }}'>

<head>
    {{ partial "head.html" . }}
</head>

<body>
    <header class="header">
        {{ partial "header.html" . }}
    </header>

    <main class="main">
        {{ block "main" . }}{{ end }}
    </main>

    <footer class="footer">
        {{ partial "footer.html" . }}
    </footer>
</body>

</html>