{{ define "main" }}
{{ $module := $.Params.module.load }}

<article class="article{{ if .Params.colonnes }} article__incolumns{{ end }}">
    {{ if .Title }}
    <h1 class="article__title{{ if $module }} module__title{{ end }}">{{ .Title }}</h1>
    {{ end }}

    {{ if .Params.Thumbnail }}
    <img class="article__thumbnail" src="{{ .Params.Thumbnail }}" alt="image de présentation de l'article">
    {{ end }}

    {{ if .Content }}
    <div class="article__content">
        {{ if .Params.exposition }}
        <div class="article__exposition">
            <h2 class="article__exposition__name">{{ .Params.exposition.nom }}</h2>
            <p class="article__exposition__content"> - {{ .Params.exposition.projet }}</p>
            <p class="article__exposition__credit">
                {{ if .Params.credit.url }}
                <a href="{{ .Params.credit.url }}" target="_blank" rel="noopener noreferrer">{{ .Params.credit.nom }}</a>
                {{ else }}
                {{ .Params.credit.nom }}
                {{ end }}
            </p>
        </div>
        {{ end }}
        {{ .Content }}
    </div>
    {{ end }}

    {{ if .Params.notes }}
    <div class="article__notes">
        <ol class="article__notes__list">
            {{ range .Params.notes }}
            <li class="note__item light__link"><em>{{ . | markdownify }}</em></li>
            {{ end }}
        </ol>
    </div>
    {{ end }}
</article>
{{ if $module }}
{{ range where $.Site.RegularPages "Params.module.group" $module }}
{{ partial (printf "modules/%s.html" $module) (dict "page" . "colonnes" $.Params.colonnes) }}
{{ end }}
{{ end }}

{{ end }}