.article {

    &__thumbnail {
        width: 100%;
        max-height: 75vh;
        object-fit: cover;
    }

    &__exposition {
        padding-left: 1em;
        border-left: 0.1em solid;
        margin-bottom: 1.5em;

        >* {
            margin: 0;
        }

        &__credit {
            margin-top: .5em;
        }
    }

    &__content,
    &__notes,
    &__action {
        padding: 2em 1em 1em 1em;
        background-color: $color_white;
    }


    &__incolumns &__content {
        columns: 40ch;
        column-gap: 1em;

        >* {
            margin-top: 0;
        }
    }

    &__notes {
        border-top: 1px solid;
        padding-top: .5em;
    }

    &__action {
        .button {
            margin: 0 0 0 auto;
        }
    }
}