.button {
    width: fit-content;
    cursor: pointer;
    border: 1px solid $color_green;
    display: block;
    padding: .5em 1em;
    position: relative;
    text-decoration: none;
    background-color: $color_white;

    &:hover,
    &:focus,
    &:active {
        background-color: $color_green;
        color: $color_white;
    }

    &__prefix::after {
        content: '';
        top: 50%;
        left: -2em;
        width: 2em;
        height: 1px;
        position: absolute;
        background-color: $color_green;
    }
}