.exposition {
    &__list {
        padding: 1em 0;
        display: grid;
        grid-gap: 1rem;
        grid-template-columns: repeat(3, minmax(12em, 1fr));

        // This is the breakpoint for the grid
        @media (max-width: 768px) {
            grid-template-columns: repeat(2, minmax(12em, 1fr));
        }

        @media (max-width: 576px) {
            width: fit-content;
            margin: auto;
            grid-template-columns: minmax(12em, 1fr);
        }
    }

    &__item {
        margin: 0;
        overflow: hidden;
        position: relative;
    }

    &__image {
        vertical-align: middle;
    }

    &__datas {
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        position: absolute;
        cursor: crosshair;
    }

    &__more,
    &__datas:hover &__info,
    &__datas:focus &__info,
    &__datas:focus-within &__info {
        display: none;
    }

    &__info,
    &__datas:hover &__more,
    &__datas:focus &__more,
    &__datas:focus-within &__more {
        display: flex;
    }

    &__info,
    &__more {
        height: 100%;
        padding: 1em;
        flex-direction: column;
        justify-content: space-evenly;
    }

    &__info {
        &__title {
            margin: auto;
            font-size: 2.72rem;
            color: $color_white;
            text-shadow:
                1px 1px $color_green,
                -1px 1px $color_green,
                1px -1px $color_green,
                -1px -1px $color_green;
        }
    }

    &__more {
        background: $color_white;

        &__descrition {
            padding: .2em;

            >h3 {
                margin-top: 0;
            }
        }

        &__link {
            margin-left: auto;
        }
    }
}