body {
    margin: 0;
    background-color: $color_white;
    background-image: radial-gradient($color_green_light $bg_dot_size, $color_white $bg_dot_radius);
    background-size: $bg_area_size $bg_area_size;
}

.header,
.main,
.footer {

    .article,
    .container {
        max-width: $glob_max_width;
        margin: 0 auto;
    }
}

.header,
.footer {
    color: $color_black;
    padding: 1em;
    text-align: center;
}

.header {
    .container {
        display: grid;
        grid-template-columns: 1fr auto;
        gap: $font_size_base;

        @media (max-width: 400px) {
            grid-template-columns: auto;
        }
    }
}

.main {
    padding: 1em 0;
}

.footer {
    background-color: $color_white;

    .sponsor {
        margin-bottom: 3em;

        &__list {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: $font_size_base;
        }

        &__item {
            font-size: 0;
        }
    }
}
