.header__menu {
    color: $color_green;
    position: relative;
}

.menu {
    &__toggle {
        cursor: pointer;
        padding: .2em .5em;
        color: $color_green;
        font-size: $font_size_h1;

        &__input {
            display: none;
        }

        &__active {
            display: none;
        }
    }

    &__toggle__input:checked {
        +.header__menu {

            >.menu__toggle {
                .menu__toggle__inactive {
                    display: none;
                }

                .menu__toggle__active {
                    display: initial;
                }
            }

            >.menu__list {
                display: block;
            }
        }
    }

    &__list {
        display: none;

        width: 50vw;
        right: 0;
        margin: 0;
        z-index: 10;
        padding: .5em;
        position: absolute;
        min-width: 10em;
        max-width: 15em;

        &__item {
            margin: .5em;
            list-style: none;
            text-align: left;
        }

        &__link {
            width: 100%;
        }

        @media (max-width: 400px) {
            left: -1em;
        }
    }
}
