body {
    color: $color_green;
    font-size: $font_size_base;
    font-family: $font_family_sansserif;
}

h1 {
    color: $color_orange;
    width: fit-content;
    padding: .2em 1.5em .2em .25em;
    position: relative;
    font-size: $font_size_h1;
    font-family: $font_family_serif;
    margin-bottom: 0;
    border-bottom: 0.1em solid;
    background-color: $color_white;

    &.header__title__text {
        color: $color_green;
        font-family: $font_family_sansserif;

        &:hover {
            color: $color_white;
            background-color: $color_green;
        }
    }

    &.module__title {
        // margin: 1em auto;
        padding: .2em .5em;
        max-width: initial;
    }

    &.header__title__text {
        margin: 0;
        border: 1px solid;
        max-width: initial;
    }

    >a {
        text-decoration: none;
    }

    @media (max-width: 576px) {
        padding: .2em .25em;
    }
}

h2 {
    color: $color_green;
    font-size: $font_size_h2;
    font-family: $font_family_serif;
}

h3 {
    color: $color_orange;
    font-size: $font_size_h3;
    font-family: $font_family_sansserif;
}

a {
    color: inherit;
    font-weight: bold;
    text-decoration: underline;

    &:visited {
        font-weight: normal;
        font-style: italic;
    }
}

.light__link,
.light__link>a {
    font-weight: normal;
}

blockquote,
q,
cite {
    color: $color_orange;
    font-size: $font_size_quote;
    font-family: $font_family_sansserif;

    &:before,
    &:after {
        font-size: $font_size_base;
    }

    &:before {
        content: '«';
    }

    &:after {
        content: '»';
    }
}

.note__item {
    color: $color_green_dark;
    font-size: $font_size_small;
    font-family: $font_family_sansserif;
}
