// # Sizes definition
// ## Global
$glob_max_width: 980px;

// # Colors definition
// ## Green
$color_green: #1F6159;
$color_green_light: #558795;
$color_green_dark: #024f49;
// ## Orange
$color_orange: #6C432D;
// ## Black
$color_black: #000000;
// ## White
$color_white: #fefefe;

// # Backgrounds definition
// ## Dot area size
$bg_area_size: 0.5em;
// ## Dot size
$bg_dot_size: 0.05em;
// ## dot size radius
$bg_dot_radius: 0.06em;

// # Fonts definitions
// ## size
// ### base is considered 11pt
$font_size_base: 1rem;
// ### h1 is considered 30pt
$font_size_h1: 2.72rem;
// ### h2 is considered 18pt
$font_size_h2: 1.62rem;
// ### h3 is considered 15pt
$font_size_h3: 1.36rem;
// ### quote is considered 15pt
$font_size_quote: 1.36rem;
// ### small is considered 9pt
$font_size_small: 0.82rem;
// ## family
// ### serif
$font_family_serif: 'Garamond',
'Times New Roman',
serif;
// ### sans-serif
$font_family_sansserif: 'Trebuchet MS',
'Arial',
sans-serif;